body{
  background-color: rgb(221, 238, 238);
}

.Nav{
  display: flex;
  justify-content: space-evenly;   
  list-style: none;
  background-color: rgb(247, 247, 247);
}

.Underline{
  text-decoration: none;
  margin: auto;
  padding: 5px;
  font-size: 1.4rem;
  color: rgb(73, 49, 214);

}

nav ul li img{
  width: 200px;
  margin-right: 30px;
}

nav ul li{
  position: relative;
}

.loader{
  text-align: center;
}
